<h3>Search for User by Email</h3>

<%= form_tag "/search", method: "get" do %>
	<%=label_tag :query, "Search:" %>
	<br>
	<%=text_field_tag :query %>
	<br>
	<%=submit_tag "Search", :class => "submit" %>
<% end %>
<br>
<% if @users %>
	<h4>Results:</h4>
	<% @users.each do |user| %>
		<%= link_to user.email, user_path(user.id) %>
		<br>
	<% end %>
<% end %>

